

<div class="container-fluid wrapper-left">
  <div class="row">
    <div class="col-lg-12"><h1 class="color-red">Dashboard</h1> <div class="breadcrumbs">Dashboard | Overview</div></div>
  </div>
</div>
<div class="container-fluid wrapper-stretch">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
        <div class="col-lg-4 border-panel graph cpu">
        </div>
        <div class="col-lg-4 border-panel graph ram">
        </div>
        <div class="col-lg-4 border-panel graph hdd">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6 border-panel graph network">
        </div>
        <div class="col-lg-4 border-panel graph monitor_status">
        </div>
        <div class="col-lg-2 border-panel graph users">
        </div>
      </div>
    </div>
  </div>

  <!-- /#page-content-wrapper -->
