<div class="blog-footer">
      <p><%= t('company.aphelion') %> <b class="blog-footer-bold"><%= t('company.corporation') %></b> &copy; <b class="blog-footer-bold"><%= t('company.spectrum') %></b> <%= t('company.2014') %></p>
</div>