<!DOCTYPE html>
<html>
<head>
  <title>Spectrum | Log-in</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="blog-footer">
  <p>APHELION <b class="blog-footer-bold">CORPORATION</b> &copy; <b class="blog-footer-bold">SPECTRUM</b> 2014</p>
</div>

</body>
</html>